In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Load data
df = pd.read_csv("Allspecies_GBIFrecords_fieldnotes_filtered_def.csv")

In [3]:
# Check columns 
df.columns

Index(['gbifID', 'institutionCode', 'recordedBy', 'eventDate', 'year', 'month',
       'day', 'Country_name', 'decimalLongitude', 'decimalLatitude',
       'elevation', 'family', 'genus', 'species', 'acceptedScientificName',
       'occurrenceRemarks', 'dynamicProperties', 'fieldNotes', 'image_url',
       'reproductiveCondition', 'Year_interval',
       'acceptedScientificName_splevel', 'n_records_GBIF', 'Nrecords_interval',
       'OrigDB_vs_GBIF', 'FieldNotes', 'Binned_latitude', 'Binned_longitude'],
      dtype='object')

In [4]:
# Delete records that only have dynamic properties as a source of fieldnote
# Getting indices
indices_del = df[(df.fieldNotes.isnull()) & (df.occurrenceRemarks.isnull()) & (df.dynamicProperties.notnull())].index
 
#droping row based on column value
df.drop(indices_del,inplace=True)

# Reset indices
df = df.reset_index(drop=True)

In [5]:
# Check that records were deleted 
df[(df.fieldNotes.isnull()) & (df.occurrenceRemarks.isnull()) & (df.dynamicProperties.notnull())]

Empty DataFrame
Columns: [gbifID, institutionCode, recordedBy, eventDate, year, month, day, Country_name, decimalLongitude, decimalLatitude, elevation, family, genus, species, acceptedScientificName, occurrenceRemarks, dynamicProperties, fieldNotes, image_url, reproductiveCondition, Year_interval, acceptedScientificName_splevel, n_records_GBIF, Nrecords_interval, OrigDB_vs_GBIF, FieldNotes, Binned_latitude, Binned_longitude]
Index: []

[0 rows x 28 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46757 entries, 0 to 46756
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gbifID                          46757 non-null  int64
 1   institutionCode                 46570 non-null  object
 2   recordedBy                      45255 non-null  object
 3   eventDate                       46757 non-null  object
 4   year                            46757 non-null  float64
 5   month                           46757 non-null  float64
 6   day                             46250 non-null  float64
 7   Country_name                    46757 non-null  object
 8   decimalLongitude                46757 non-null  float64
 9   decimalLatitude                 46757 non-null  float64
 10  elevation                       34599 non-null  float64
 11  family                          46757 non-null  object
 12  genus                           46757 non-null  object
 13  species                         46750 non-null  object
 14  acceptedScientificName          46757 non-null  object
 15  occurrenceRemarks               39907 non-null  object
 16  dynamicProperties               9468 non-null   object
 17  fieldNotes                      10078 non-null  object
 18  image_url                       4258 non-null   object
 19  reproductiveCondition           6867 non-null   object
 20  Year_interval                   46757 non-null  object
 21  acceptedScientificName_splevel  46757 non-null  object
 22  n_records_GBIF                  46757 non-null  float64
 23  Nrecords_interval               46757 non-null  object
 24  OrigDB_vs_GBIF                  46757 non-null  object
 25  FieldNotes                      46757 non-null  object
 26  Binned_latitude                 46757 non-null  object
 27  Binned_longitude                46757 non-null  object
dtypes: float64(7), int64(1), object(20)
memory usage: 10.0+ MB

In [7]:
# Delete unnecesary columns
df.drop(['OrigDB_vs_GBIF', 'Year_interval', 'n_records_GBIF', 'Nrecords_interval', 
         'Binned_latitude', 'Binned_longitude'], axis=1, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46757 entries, 0 to 46756
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gbifID                          46757 non-null  int64
 1   hcnqID                          0 non-null      float64
 2   institutionCode                 46570 non-null  object
 3   recordedBy                      45255 non-null  object
 4   eventDate                       46757 non-null  object
 5   year                            46757 non-null  float64
 6   month                           46757 non-null  float64
 7   day                             46250 non-null  float64
 8   Country_name                    46757 non-null  object
 9   decimalLongitude                46757 non-null  float64
 10  decimalLatitude                 46757 non-null  float64
 11  elevation                       34599 non-null  float64
 12  family                          46757 non-null  object
 13  genus                           46757 non-null  object
 14  species                         46750 non-null  object
 15  acceptedScientificName          46757 non-null  object
 16  occurrenceRemarks               39907 non-null  object
 17  dynamicProperties               9468 non-null   object
 18  fieldNotes                      10078 non-null  object
 19  image_url                       4258 non-null   object
 20  reproductiveCondition           6867 non-null   object
 21  acceptedScientificName_splevel  46757 non-null  object
 22  FieldNotes                      46757 non-null  object
dtypes: float64(7), int64(1), object(15)
memory usage: 8.2+ MB

In [9]:
# Add a column for HCNQ ids
df.insert(1, 'hcnqID', np.nan)

In [11]:
# Change the order of columns
df = df[['gbifID', 'hcnqID','institutionCode','recordedBy','eventDate', 'year',
        'month','day','Country_name','decimalLongitude', 'decimalLatitude',
        'elevation','family','genus','species', 'acceptedScientificName_splevel',
        'acceptedScientificName','image_url','reproductiveCondition',
         'occurrenceRemarks', 'dynamicProperties', 'fieldNotes', 'FieldNotes']]

In [13]:
# Rename some columns
df.rename(columns={'Country_name': 'country', 'country': 'Country_name', 'acceptedScientificName_splevel': 'acceptedScientificName', 
                   'acceptedScientificName': 'scientificNameAuthorship'}, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46757 entries, 0 to 46756
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gbifID                    46757 non-null  int64
 1   hcnqID                    0 non-null      float64
 2   institutionCode           46570 non-null  object
 3   recordedBy                45255 non-null  object
 4   eventDate                 46757 non-null  object
 5   year                      46757 non-null  float64
 6   month                     46757 non-null  float64
 7   day                       46250 non-null  float64
 8   country                   46757 non-null  object
 9   decimalLongitude          46757 non-null  float64
 10  decimalLatitude           46757 non-null  float64
 11  elevation                 34599 non-null  float64
 12  family                    46757 non-null  object
 13  genus                     46757 non-null  object
 14  species                   46750 non-null  object
 15  acceptedScientificName    46757 non-null  object
 16  scientificNameAuthorship  46757 non-null  object
 17  image_url                 4258 non-null   object
 18  reproductiveCondition     6867 non-null   object
 19  occurrenceRemarks         39907 non-null  object
 20  dynamicProperties         9468 non-null   object
 21  fieldNotes                10078 non-null  object
 22  FieldNotes                46757 non-null  object
dtypes: float64(7), int64(1), object(15)
memory usage: 8.2+ MB

In [16]:
df.to_csv('Final_datasets/Allspecies_GBIFrecords_fieldnotes_filtered_final.csv', index=False)